.nav {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;
    }
    .nav a {
      color: #bea30b;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
    }
    header {
      background-color: #333;
      color: #bea30b;
      padding: 20px;
      text-align: center;
      position: relative;
    }
    h1 {
      margin: 0;
    }
    .forum{
        background-color: #d5d4fa;

    }
    .logo{
        width: 30px;
        height: 30px;
    }