.nav {
      display: flex; /* Добавлено */
      justify-content: center; /* Добавлено */
      gap: 20px; /* Добавлено */
      margin-bottom: 20px; /* Добавлено */
    }
    .nav a {
      color: #bea30b;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
    }
    header {
      background-color: #333;
      color: #bea30b;
      padding: 20px;
      text-align: center;
      position: relative; /* Добавлено */
    }
    h1 {
      margin: 0;
    }