
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
}


form h2 {
  text-align: center;
  margin-bottom: 20px;
}


form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


form button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
h1{
  text-align: center;
}
error{
  text-align: right;
  margin-bottom: 20px;
}