{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/forumpage.css' %}">
</head>
<body>

<header>
<h1>Europa Universalis 4</h1>
      <nav class="nav">
          <img src="static/img/logo2.png" class="logo">
      <a href="/">Главная</a>
      <a href="/forum">Форум</a>
          <a href = "/forumnote">Запись</a>
          <img src="static/img/logo2.png" class="logo">
    </nav>
</header>
    <h2>Записи игроков</h2>
    {% if notes %}
        {% for el in notes %}
            <div class="forum">
                <h3 class="">{{ el.title }}</h3>
                <p>{{ el.notes }} </p>
            </div>
        {% endfor %}
    {% else %}
        <p>Форум временно не работает</p>
    {% endif %}
</body>
</html>