{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/forumcreate.css' %}">
    <title>Создание записи на форум</title>
</head>
<body class="form">
<header>
<h1>Europa Universalis 4</h1>
      <nav class="nav">
          <img src="static/img/logo2.png" class="logo">
          <a href="/">Главная</a>
          <a href="/forum">Форум</a>
          <a href = "/forumnote">Создать запись</a>
          <img src="static/img/logo2.png" class="logo">
    </nav>
</header>


    {% if user.is_authenticated %}
        <center><h2>Создать запись</h2></center>
    <div class = "form">

        <div class="note">

            <form method="post">
            {#специальный токен для отправки записей на форум#}
            {% csrf_token %}
            {{form.title}}
            {{form.notes}}
            <button type="submit" class="form button">Отправить запись</button>
            <span>{{ error }}</span>
            </form>


        </div>
    </div>
        <div>
        {% else %}
            <center><h2>Пройдите регистрацию или войдите в аккунт для создания записей на форум</h2></center>
        {% endif %}

    </div>


</body>
</html>