{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Europa Universalis 4</title>
    <link rel="stylesheet" href = "{% static 'css/mainpage.css' %}"/>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      const countries = document.querySelectorAll('.country');
      countries.forEach(country => {
        country.addEventListener('click', function() {
          const content = this.querySelector('.content');
          countries.forEach(otherCountry => {
            if (otherCountry !== this) {
              otherCountry.querySelector('.content').style.display = 'none';
            }
          });
          if (content.style.display === 'none') {
            content.style.display = 'block';
          } else {
            content.style.display = 'none';
          }
        });
      });
    });
  </script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      const countries = document.querySelectorAll('.scenario');
      countries.forEach(country => {
        country.addEventListener('click', function() {
          const content = this.querySelector('.content');
          countries.forEach(otherCountry => {
            if (otherCountry !== this) {
              otherCountry.querySelector('.content').style.display = 'none';
            }
          });
          if (content.style.display === 'none') {
            content.style.display = 'block';
          } else {
            content.style.display = 'none';
          }
        });
      });
    });
  </script>
</head>
<body>
      <header>
          <h1>Europa Universalis 4</h1>
            <nav class="nav">
                <img src="static/img/logo2.png" class="logo">
              <a href="">Главная</a>
              <a href="/forum">Форум</a>
              <a href="/forumnote">Создать запись</a>
                {% if user.is_authenticated %}
                    <h4 class="user">Пользователь {{ user }}</h4>
                    <a href="{% url 'logout'%}">Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'register' %}">Регистрация</a>
                {% endif %}
{#              <li><a href="/reg">Регистрация</a></li>#}
{#              <li><a href="">Войти</a></li>#}
                <img src="static/img/logo2.png" class="logo">

            </nav>
      </header>
      <div class="county_title">
          <h2>Интересные страны</h2>
      </div>
      <div class="countries">
{#    в классе countries 4 элемента country      #}
        <div class="country">
          <h3>Англия  <img src="static/img/England.png" class="engl" alt=""></h3>
          <div class="content">
            <p>Англия в начале игре переживает не лучшие свои годы. Столетняя война, которая идет не в пользу Англии,
                подходит к своему завершающему этапу, в стране назревает гражданская война известная сегодня как "Война Роз".
                Франция вот-вот нанесёт свой последний удар и выбьет Англию с континента. Англия на гране коллабса,
                но в руках опытного игрока страна может не только пережить все бедствия,
                но и за счёт сильного флота и контроля над торговлей и многочисленных колоний,
                установить свою гигемонию над всем миром.
                <a href="https://eu4.paradoxwikis.com/England"> Подробнее о Англии</a> </p>
          </div>
        </div>
        <div class="country">
          <h3>Франция  <img src="static/img/img_1.png" class="engl" alt=""></h3>
            <div class ="content">
                <p>Франция на старте компании имеет сильную и многочисленную армию,
                    а так же многочисленные вассальные герцогства. В игре Франция завершает столетнюю войну против Англии,
                    после которой открывается огромный потенциал для расширения в Европе.
                    Имея сильную армию и отличные идеи влияния Франция может подчинить себе все страны Европы.
                    <a href="https://eu4.paradoxwikis.com/France"> Подробнее о Франции</a></p>
            </div>
        </div>

        <div class="country">
            <h3>Кастилия  <img src="static/img/Castile.png" class="engl" alt=""></h3>
            <div class ="content">
                <p>На старте игры, у Кастилии очень слабый правитель и наследник, что может привести к гражданской войне.
                    Но после решения внутренних проблем,
                    Кастилии сможет наконец завершить Реконкисту и раз и навсегда прогнать мусульман из Иберии,
                    после чего обьединить её под флагом Испании и создать самую большую коллониальную империю.
                    <a href="https://eu4.paradoxwikis.com/Castile"> Подробнее о Кастилии</a></p>
            </div>
        </div>
          <div class="country">
              <h3>Португалия  <img src="static/img/Portugal.png" class="engl" alt=""></h3>
            <div class ="content">
                <p>Португалия на старте игры может стать самой "мирной" страной по меркам Европы.
                    Португалия нацелена на колонии и поэтому необходимость воевать со своими соседями отподает.
                    Страна подойдёт идеально игроку,
                    который устал от вечных войн с соседями и хочет играть только через колонии и торговлю.
                <a href="https://eu4.paradoxwikis.com/Portugal"> Подробнее о Португалии</a> </p>
          </div>
          </div>
      </div>
      <div class="countries">
          <div class="country">
              <h3>Византия  <img src="static/img/Byzantium.png" class="engl" alt=""></h3>
              <div class = 'content'>
                  <p>На момент начала игры Византия находиться на краю гибели. Земли Византии разбиты на 2 анклава: Морею и Контантинопль.
                      Осман готовиться сокрушить последние осколки некогда великой Римской Империи.
                      Игра за Византию представляет не малый интерес для опытных игроков, так как перед Вами будет стоять очень сложная задача,
                      не только предовратить подение страны, но и восстановить былое величие.
                      А если и получиться, то восстановить самую великию империю античности - Римскую.
                      <a href="https://eu4.paradoxwikis.com/Byzantium"> Подробнее о Византии</a> </p>
              </div>
          </div>
          <div class="country">
              <h3>Москва  <img src="static/img/img_2.png" class="engl" alt=""></h3>
              <div class = 'content'>
                  <p>На момент начала игры Москва платит дань Большой орде и параллельно собирает земли русские вокруг себя.
                      В игре у Москвы сильная армия и многочисленные вассалы, но из за выплаты дани есть проблемы с экономикой.
                      Тактика игры за Москву будет основываатся на скорейшем прекращении выплаты дани, подчинение Новгорода,
                      колонизация Сибири и освобождение русских земель из под власти католиков.
                      В достижении всех своих целей, Москве поможет русская православна церовь.
                      <a href="https://eu4.paradoxwikis.com/Muscovy"> Подробнее о Москве</a></p>
              </div>
          </div>
          <div class="country">
              <h3>Османы  <img src="static/img/Ottomans.png" class="engl" alt=""></h3>
              <div class = 'content'>
                  <p>Данная страна является самой лёгкой на старте, которая обладает мощной армией и экономикой.
                      На момент старта компании Осман начинает свой золотой век завоеваний. Древний враг в лице Византии почти уничтожен,
                      власть в Анатолии является неоспаримой.
                      Осман идеально подойдёт для новичка и поможет ему освоить основные механики игры.
                      <a href="https://eu4.paradoxwikis.com/Ottomans"> Подробнее об Османах</a></p>
              </div>
          </div>
          <div class="country">
              <h3>Швеция  <img src="static/img/Sweden.png" class="engl" alt=""></h3>
              <div class = 'content'>
                  <p>На старте игры Швеция находится является младшим униатом Дании и вместе с Норвегией входят в Кальмарскую унию.
                      Играя за Швецию игроку необходимо избавиться от власти Дании и создать свою Северную Империю,
                      которая будет править Балтикой,
                      но для этого шведам нужно будет одолеть своих основных врагов: Данию, Польшу и Россию(Москву).
                      <a href="https://eu4.paradoxwikis.com/Sweden">Подробнее о Швеции</a> </p>
              </div>
          </div>

      </div>
      <div class="countries">
          <div class="country">
              <h3>Мин  <img src="static/img/Ming.png" class="engl" alt=""></h3>
              <div class="content">
                  <p>На старте игры Мин имеет самую сильную армию и экономику в игре.
                      Процвитание и мощь Мина заставляет игрока расслабится и забыть про внешнюю экспансию.
                      Вся внешняя политика за Мин сводится к требованию дани от соседей для поддержания стабильности мандата.
                      В целом игра за Мин идёт однообразно и скучно,
                      только приход колониальных держав может сделать игру более интересной и насыщенной событиямии и ивентами.
                      <a href="https://eu4.paradoxwikis.com/Ming"> Подробнее о Мин</a> </p>
              </div>

          </div>
          <div class="country">
              <h3>Австрия  <img src="static/img/Austria.png" class="engl" alt=""></h3>
              <div class="content">
                  <p>Автрия является императором Священной Римской Империи(СРИ). Являясь императором СРИ,
                      Австрия обязанна отстаивать не только свои интересы и границы, но и защитать границы и интересы СРИ,
                      так же данная механика сильно разнообразит игровой процесс, так как в СРИ должность ипрератора является выборной,
                      из-за этого придётся поддерживать хорошие отношения со всеми курфюстами и иногда идти им на уступки.
                      Играя за Австрию вы сможете поборотся за престолы других держав путём династических браков,
                      так же противостоять Франции и Османской Империи.
                      Для удержания и укрепления власти предётся возглавить католические страны в Тридцатилетней войне и привести их к победе,
                      попутно разбивая своих соперников и принуждая их к покорности.
                      <a href = "https://eu4.paradoxwikis.com/Austria"> Подробнее об Австрии</a></p>
              </div>

          </div>
          <div class="country">
              <h3>Польша  <img src="static/img/Poland.png" class="engl" alt=""></h3>
              <div class="content">
                  <p>Польша начинает игру в период междуцарствия. Игроку предётся выбирать между литовский королём и польским,
                      если выбрать второго, то Польша получает хорошего короля с отличными характеристиками, а если выбрать первого,
                      то Польша получает Литву в качестве младщего униата. Польша - страна зажатая между молотом и наковальней.
                      Восточный сосед в лице Москвы жаждет вернуть земли населённые православными. С Запада находится Священная Римская Империя,
                      которая в лице Австрии жаждет получить как трон Польши, так и Литвы.
                      С севера поднимает свою голову последний викинг в лице Швеции.
                      А с юга набирает силу Осман, который жадно поглядывает на южные польские и литовские земли.
                      <a href="https://eu4.paradoxwikis.com/Poland">Подробнее о Польше</a></p>
              </div>

          </div>
          <div class="country">
              <h3>Бранденбург  <img src="static/img/Brandenburg.png" class="engl" alt=""></h3>
              <div class="content">
                  <p>Герцогство Бранденбург на момент 1444 года представляет собой маленькое,
                      но амбициозное государство в Северной Европе. Бранденбург является курфюршеством Священной Римской Империи,
                      что даёт правителям герцогства право участвовать в выборах императора СРИ.
                      Основной целью Бранденбурга является создание государства Пруссия, которое на позднем этапе игры
                      может стать государством с самой мощной армией в Европе.
                      <a href="https://eu4.paradoxwikis.com/Brandenburg">Подробнее о Бранденбурге</a></p>
              </div>

          </div>
      </div>
      <div class="scenarios_title">
            <h2>Сценарии игры</h2>
      </div>
      <div class="scenarios">
            <div class="scenario">
                <center><h3>Восход Османов</h3></center>
                <img src="static/img/Ottomans_Rise.png" class="ottomans_rise">
                <div class="content">
                    <p>Самый первый сценарий в игре. Игра стартует в 1444 после победы Осман над католиками под Варной.
                        Данный сценарий является самым популярным у игроков EU4 из за того,
                        что в данном сценарии представленно наибольшее количество интересных стран.</p>
                </div>
            </div>
            <div class="scenario">
                <center><h3>Падение Византии</h3></center>
                <img src="static/img/Fall_of_Byzantium.jpg" class="ottomans_rise">
                <div class="content">
                    <p>Игра начинается после захвата Константинополя Османам в 1453 году.
                        Византия после 12 веков существования навсегда пропадает с карт Европы,
                        что ознаменует начало расцвета Османской Империи и её стремительного расширения.</p>
                </div>
            </div>
            <div class="scenario">
                <center><h3>Новый Свет</h3></center>
                <img src="static/img/New_World.png" class="ottomans_rise">
                <div class="content">
                    <p>Начало сценария стартует в 1492 году.
                        Вам предстоит выбрать Европейскую державу и поучаствовать в колиниальной гонке за Новый Свет или
                        же выбрав индейцев сбросить европейцев в море и возглавить "Закатное" вторжение в Европу.</p>
                </div>
            </div>
            <div class="scenario">
                <center><h3>Камбрейская лига</h3></center>
                <img src="static/img/Cambre.png" class="ottomans_rise">
                <div class="content">
                    <p>Старт игры происходит в 1508г. Война Камбрейской лиги одна из Итальянских войн.
                        В данном сценарии столкнуться Автрия, Франция,
                        Испания и Итальянские государства за господство над Италией.</p>
                </div>
            </div>
      </div>
      <div class="scenarios">
            <div class="scenario">
                <center><h3>Восьмидесятилетняя война</h3></center>
                <img src="static\img\80_years_war.png" class="ottomans_rise">
                <div class="content">
                    <p>Сценарий начинается с обьявления Нидерландами войны Испанской Империи в 1579.
                        В данном сценарии игрок может попробывать себя в роли молодой и амбициозной державы - Нидерландов или могучей Испанской Империи.</p>
                </div>
            </div>
            <div class="scenario">
                <center><h3>Тридцатилетняя война</h3></center>
                <img src="static\img\30_years_war.png" class="ottomans_rise_up">
                <div class="content">
                    <p>Противоречия католиков и протестантов дошли до предела. Власть Папы Римского и императора СРИ находиться под угрой.
                        Европа разделилась на Католическую и Евангелическую унию. Под предлогом очищения от ереси Император СРИ начинает войну.
                        В данном сценарии игрок может выбрать любую европейскую страну и повлеять на исход войны и будующее не только Европы,
                        но и всего мира.</p>
                </div>
            </div>
            <div class="scenario">
                <center><h3>Война за испанское наследство</h3></center>
                <img src="static/img/Spanish_war.png" class="ottomans_rise">
                <div class="content">
                    <p>Данный конфликт начинается в 1701 году из-за кризиса испанской ветви династии Габсбургов.
                        В данном конфликте столкнуться самые сильные европейские державы:
                        Испания, Франция, Австрия, Великобретания и многие другие.</p>
                </div>
            </div>
            <div class="scenario">
                <center><h3>Война четверного союза</h3></center>
                <img src="static/img/Second_Spanish_war.png" class="ottomans_rise">
                <div class="content">
                    <p>Старт игры в 1718г. Продолжение Войны за испанское наследство, во время которого реваншистские настроения
                        испанского короля Филиппа Бурбона натолкнулись на сопротивление четверного союза Франции,
                        Великобритании, Соединённых провинций Нидерландов и Священной Римской империи</p>
                </div>
            </div>
      </div>
      <div class="scenarios">
            <div class="scenario">
                <center><h3>Семилетняя война</h3></center>
                <img src="static\img\7_years_war.png" class="ottomans_rise_up">
                <div class="content">
                    <p>Данный сценарий начинается в 1756г. Боевые действия охватывают не только Европу, но и весь Новый Свет. Игроку предстоит выбор:
                        Присоединиться к союзу Франции, Австрии, России и других стран или поддержать Англо-прусскую коалицию.</p>
                </div>
            </div>
            <div class="scenario">
                <center><h3>Война за независимость</h3></center>
                <img src="static/img/War_for_independent.png" class="ottomans_rise">
                <div class="content">
                    <p>Данный сценарий стартует в 1776 году.
                        В новом свете британские колонии провозглашают независимость и образуют США.
                        В данном сценарии игроку предстоит выбор между бывшей колонией и морской империей.</p>
                </div>
            </div>
            <div class="scenario">
                <center><h3>Французская революция</h3></center>
                <img src="static/img/Revolution.png" class="ottomans_rise">
                <div class="content">
                    <p>Сценарий начинается в 1789 году с революции во Франции, что вызывает недовольство монархий Европы.
                        Французской революции предстоит пройти не мало испытаний, среди которых Война с Великобританией,
                        Австрией, Россией и итальянскими герцогствами и с многочисленными восстаниями внутри страны.</p>
                </div>
            </div>
            <div class="scenario">
                <center><h3>Революционная Франция</h3></center>
                <img src="static/img/Revolution_wars.png" class="ottomans_rise">
                <div class="content">
                    <p>Последний сценарий игры cтартует в 1792 году.
                        В данном сценарии происходит возвышение Наполеона от генерала до Императора Франции,
                        за которым следуют наполеоновские войны и возвышение Франции.</p>
                </div>
            </div>
      </div>

    </body>
</html>