{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Europa Universalis 4</title>
    <link rel="stylesheet" href = "{% static 'css/mainpage.css' %}"/>

</head>
<body>
      <header>
          <h1>Europa Universalis 4</h1>
            <nav class="nav">
              <a href="">Главная</a>
              <a href="/forum">Форум</a>
              <a href="/forumnote">Запись</a>
              <li><a href="/registration">Регистрация</a></li>
              <li><a href="/enter">Войти</a></li>
            </nav>
      </header>

      <div class="countries">
        <div class="country">
          <h3>Англия  <img src="static/img/England.png" class="engl" alt=""></h3>
          <div class="content">
            <p>Англия в начале игре переживает не лучшие свои годы. Столетняя война, которая идет не в пользу Англии,
                подходит к своему завершающему этапу, в стране назревает гражданская война известная сегодня как "Война Роз".
                Франция вот-вот нанесёт свой последний удар и выбьет Англию с континента. Англия на гране коллабса,
                но в руках опытного игрока страна может не только пережить все бедствия,
                но и за счёт сильного флота и контроля над торговлей и многочисленных колоний,
                установить свою гигемонию над всем миром.</p>
          </div>
        </div>
        <div class="country">
          <h3>Франция  <img src="static/img/img_1.png" class="engl" alt=""></h3>
            <div class ="content">
                <p>Франция на старте компании имеет сильную и многочисленную армию,
                    а так же многочисленные вассальные герцогства. В игре Франция завершает столетнюю войну против Англии,
                    после которой открывается огромный потенциал для расширения в Европе.
                    Имея сильную армию и отличные идеи влияния Франция может подчинить себе все страны Европы.</p>
            </div>
        </div>

        <div class="country">
            <h3>Кастилия  <img src="static/img/Castile.png" class="engl" alt=""></h3>
            <div class ="content">
                <p>На старте игры, у Кастилии очень слабый правитель и наследник, что может привести к гражданской войне.
                    Но после решения внутренних проблем,
                    Кастилии сможет наконец завершить Реконкисту и раз и навсегда прогнать мусульман из Иберии,
                    после чего обьединить её под флагом Испании и создать самую большую коллониальную империю.</p>
            </div>
        </div>
          <div class="country">
              <h3>Португалия  <img src="static/img/Portugal.png" class="engl" alt=""></h3>
            <div class ="content">
                <p>Португалия на старте игры может стать самой "мирной" страной по меркам Европы.
                    Португалия нацелена на колонии и поэтому необходимость воевать со своими соседями отподает.
                    Страна подойдёт идеально игроку,
                    который устал от вечных войн с соседями и хочет играть только через колонии и торговлю.</p>
          </div>
          </div>
      </div>
      <div class="countries">
          <div class="country">
              <h3>Византия  <img src="static/img/Byzantium.png" class="engl" alt=""></h3>
              <div class = 'content'>
                  <p>На момент начала игры Византия находиться на краю гибели. Земли Византии разбиты на 2 анклава: Морею и Контантинопль.
                      Осман готовиться сокрушить последние осколки некогда великой Римской Империи.
                      Игра за Византию представляет не малый интерес для опытных игроков, так как перед Вами будет стоять очень сложная задача,
                      не только предовратить подение страны, но и восстановить былое величие.
                      А если и получиться, то восстановить самую великию империю античности - Римскую.</p>
              </div>
          </div>
          <div class="country">
              <h3>Москва  <img src="static/img/img_2.png" class="engl" alt=""></h3>
              <div class = 'content'>
                  <p>На момент начала игры Москва платит дань Большой орде и параллельно собирает земли русские вокруг себя.
                      В игре у Москвы сильная армия и многочисленные вассалы, но из за выплаты дани есть проблемы с экономикой.
                      Тактика игры за Москву будет основываатся на скорейшем прекращении выплаты дани, подчинение Новгорода,
                      колонизация Сибири и освобождение русских земель из под власти католиков.
                      В достижении всех своих целей, Москве поможет русская православна церовь.</p>
              </div>
          </div>
          <div class="country">
              <h3>Османы  <img src="static/img/Ottomans.png" class="engl" alt=""></h3>
              <div class = 'content'>
                  <p>Данная страна является самой лёгкой на старте, которая обладает мощной армией и экономикой.
                      На момент старта компании Осман начинает свой золотой век завоеваний. Древний враг в лице Византии почти уничтожен,
                      власть в Анатолии является неоспаримой.
                      Осман идеально подойдёт для новичка и поможет ему освоить основные механики игры.</p>
              </div>
          </div>
          <div class="country">
              <h3>Швеция  <img src="static/img/Sweden.png" class="engl" alt=""></h3>
              <div class = 'content'>
                  <p>На старте игры Швеция находится является младшим униатом Дании и вместе с Норвегией входят в Кальмарскую унию.
                      Играя за Швецию игроку необходимо избавиться от власти Дании и создать свою Северную Империю,
                      которая будет править Балтикой,
                      но для этого шведам нужно будет одолеть своих основных врагов: Данию, Польшу и Россию(Москву).</p>
              </div>
          </div>

      </div>
      <div class="countries">
          <div class="country">
              <h3>Мин  <img src="static/img/Ming.png" class="engl" alt=""></h3>
              <div class="content">
                  <p>На старте игры Мин имеет самую сильную армию и экономику в игре.
                      Процвитание и мощь Мина заставляет игрока расслабится и забыть про внешнюю экспансию.
                      Вся внешняя политика за Мин сводится к требованию дани от соседей для поддержания стабильности мандата.
                      В целом игра за Мин идёт однообразно и скучно,
                      только приход колониальных держав может сделать игру более интересной и насыщенной событиямии и ивентами.</p>
              </div>

          </div>
          <div class="country">
              <h3>Австрия  <img src="static/img/Austria.png" class="engl" alt=""></h3>
              <div class="content">
                  <p>Автрия является императором Священной Римской Империи(СРИ). Являясь императором СРИ,
                      Австрия обязанна отстаивать не только свои интересы и границы, но и защитать границы и интересы СРИ,
                      так же данная механика сильно разнообразит игровой процесс, так как в СРИ должность ипрератора является выборной,
                      из-за этого придётся поддерживать хорошие отношения со всеми курфюстами и иногда идти им на уступки.
                      Играя за Австрию вы сможете поборотся за престолы других держав путём династических браков,
                      так же противостоять Франции и Османской Империи.
                      Для удержания и укрепления власти предётся возглавить католические страны в Тридцатилетней войне и привести их к победе,
                      попутно разбивая своих соперников и принуждая их к покорности. </p>
              </div>

          </div>
          <div class="country">
              <h3>Польша  <img src="static/img/Poland.png" class="engl" alt=""></h3>
              <div class="content">
                  <p>Польша начинает игру в период междуцарствия. Игроку предётся выбирать между литовский королём и польским,
                      если выбрать второго, то Польша получает хорошего короля с отличными характеристиками, а если выбрать первого,
                      то Польша получает Литву в качестве младщего униата. Польша - страна зажатая между молотом и наковальней.
                      Восточный сосед в лице Москвы жаждет вернуть земли населённые православными. С Запада находится Священная Римская Империя,
                      которая в лице Австрии жаждет получить как трон Польши, так и Литвы.
                      С севера поднимает свою голову последний викинг в лице Швеции.
                      А с юга набирает силу Осман, который жадно поглядывает на южные польские и литовские земли.</p>
              </div>

          </div>
          <div class="country">
              <h3>Бранденбург  <img src="static/img/Brandenburg.png" class="engl" alt=""></h3>
              <div class="content">
                  <p>Герцогство Бранденбург на момент 1444 года представляет собой маленькое,
                      но амбициозное государство в Северной Европе. Бранденбург является курфюршеством Священной Римской Империи,
                      что даёт правителям герцогства право участвовать в выборах императора СРИ.
                      Основной целью Бранденбурга является создание государства Пруссия, которое на позднем этапе игры
                      может стать государством с самой мощной армией в Европе, благодаря повышению прусского милитаризма.
                      Основными противниками для Бранденбурга выступают Польша, Богемия и несколько князей в землях Померании,
                      которую герцогство считает своими национальными территориями. С севера на данные земли метят скандинавы,
                      которые очень хотят установить контроль над Балтикой. Также не стоит забывать и о возвращении земель
                      Восточной Пруссии, которыми владее Тевтонский орден. Если Бранденбург сможет пережить трудности,
                      то уже созданная Пруссия может побороться за титул Императора СРИ с Австрией Габсбургов</p>
              </div>

          </div>
      </div>
    </body>
</html>